/* MarkdownEditor Component Styles */

.markdownEditor {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
}

.markdownEditor :global(.w-tc-editor),
.markdownEditor :global(.w-tc-editor .w-tc-editor-text) {
  padding: 8px 16px !important;
  background-color: transparent !important;
  font-size: 14px;
}

.markdownEditor :global(.w-tc-editor .w-tc-editor-preview) {
  padding: 0 !important;
  font-size: 14px;
}
